# TASK #1: UNDERSTAND VARIABLES ASSIGNMENT

In [1]:
# Define a variable named "x" and assign a number (integer) to it
# integer is a whole number (no decimals) that could be positive or negative
x=250

In [2]:
# Let's view "x"
x

250

In [3]:
# Define a variable named "y" and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts
y=500.5

In [4]:
# Let's view "y"
y

500.5

In [5]:
# Let's overwrite "y" (assume your portfolio value increased)
y=300.5

In [6]:
# Notice that "y" will only contain the most recent value
y

300.5

In [7]:
# Get the type of "x" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(x)

int

In [8]:
# Get the type of "y" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(y)

float

MINI CHALLENGE #1:
- We defined a variable x and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?
- Verify your answer by executing the code cells



```
z = 1000
z = 2000
z = 5000
z = 6000
z
```

In [9]:
z=1000
z=20000
z=5000
z=6000
z

6000

# TASK #2: PERFORM MATH OPERATIONS IN PYTHON

In [10]:
# Define a variable named i and initialize it with 20 
# Let's assume that we want to increment the value by 4 
i=20
i=i+4
i

24

In [11]:
# Let's assume that you own a little grocery store 
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:

count=50
price=3
inventory=count*price
inventory

150

In [12]:
# Let's assume you have $550 USD in our bank account
# We want to buy x number of IBM stocks using the total amount 
# each IBM stock is priced at $128 each
acc_bal=550
ibm_pri=128

In [13]:
# Divide the account balance by Amazon stock price and place the answer in units
units=acc_bal/ibm_pri
units

4.296875

MINI CHALLENGE #2:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [14]:
app_pri_1=135
app_pri_2=150

pri_diff=app_pri_2 - app_pri_1
perc_ch=pri_diff/app_pri_1*100
perc_ch

11.11111111111111

# TASK #3: UNDERSTAND PRINT AND INPUT OPERATIONS

In [15]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = "suyash is makes"

In [16]:
print(x)

suyash is makes

In [17]:
# Obtain the data type for 'x'
type(x)

str

In [18]:
# The format() method formats the specified value and insert it in the placeholder
# The placeholder is defined using curly braces: {}
com_na = 'Amazon'
shares = 400

print("I own {} shares of {}".format(shares,com_na))

I own 400 shares of Amazon

In [19]:
# input is a built-in function in python
# Obtain client data such as name, country and e-mail and print them all out on the screen
n=input("please enter your name:")
c=input("enter your country:")
em=input("enter your e-mail:")




print("My name is {},I live in {}, and my e-mail is {}".format(n,c,em))

please enter your name:Suyash
enter your country:India
enter your e-mail:suyashpratap9453@gmail.com
My name is Suyash,I live in India, and my e-mail is suyashpratap9453@gmail.com

MINI CHALLENGE #3:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [20]:
x=input("enter price of stock:")
x=int(x)
y=input("enter number of stock:")
y=int(y)
z=input("enter name of stock:")
print("total fund to buy{} number of {} stocks at {} is {}".format(y,z,x,x*y))

enter price of stock:30
enter number of stock:100
enter name of stock:AAPL
total fund to buy100 number of AAPL stocks at 30 is 3000

# TASK #4: UNDERSTAND LISTS DATA TYPES

In [1]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
grocery_list =['oranges','apples','bananas']
grocery_list

['oranges', 'apples', 'bananas']

In [2]:
# Obtain the datatype
type(grocery_list)

list

In [3]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
grocery_list[0]

'oranges'

In [4]:
grocery_list[2]

'bananas'

MINI CHALLENGE #4:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [5]:
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
print(grocery_list[0])
print(grocery_list[1])
print(grocery_list[-1])
print(grocery_list[-2])

milk
rice
water
oranges

# TASK #5: UNDERSTAND COMPARISON OPERATORS AND CONDITIONAL STATEMENTS

In [11]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is x equals y or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 
x=500
y=500
x==y

True

In [12]:
# Greater than or equal operator '>='
x=20
y=40
x>=y

False

In [13]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in x)
x=10
x

10

In [15]:
x==10
x

10

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [16]:
# Let's take an input from the user and grant or deny access accordingly
name=input("enter your username:")
if name=='Suyash':
    print('Access Grant')
else:
    print('Access Denied')

enter your username:Suyash
Access Grant

In [17]:
x=int(input("Please enter an integer from 1 to 1000:"))
if x%2==0:
    print("Number is Even")
else:
    print("Number is Odd")

Please enter an integer from 1 to 1000:67
Number is Odd

MINI CHALLENGE #5:
- Write a code that takes a number from the user and indicates if it's positive or negative

In [6]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 0
Number is zero

# TASK #6: DEVELOP FUNCTIONS IN PYTHON

In [18]:
# Define a function that takes in two argument x and y and returns their multiplication 
def mul(x,y):
    return x*y

In [19]:
# Call the function
mul(4,5)

20

MINI CHALLENGE #6:
- Write a code that takes in three inputs from the user and calculate their sum

In [7]:
def summation(x, y, z):
    return x + y + z

In [8]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

total = summation(num1, num2, num3)

print('Total balance = {}'.format(total))

Enter the first number: 300
Enter the second number: 400
Enter the third number: 560
Total balance = 1260

# TASK #7: UNDERSTAND FOR AND WHILE LOOPS

In [20]:
# List of strings
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
grocery_list

['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

In [21]:
for i in grocery_list:
    print(i)
    print('Hello World!')

milk
Hello World!
rice
Hello World!
eggs
Hello World!
bread
Hello World!
oranges
Hello World!
water
Hello World!

In [22]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 7) generates integers from 0 up to, but not including, 7.
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [23]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

MINI CHALLENGE #7:
- Write a code that displays numbers from 1 to 10 using for and while loops

In [9]:
i = 1
while (i < 11):
  print (i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# TASK #8: CAPSTONE PROJECT

Develop a guessing game that performs the following: 
- The system will automatically generate a random number between 1 and 100. 
- Users can insert any number between 1 and 100
- The program shall be able to compare the number generated by the system and the number that has been entered by the user. The program shall print out one of the following options to help the user improve their next guess:
    - You are right, great job!
    - Your guess is low, try again!
    - your guess is high, try again!

- The program exits when the user guess matches the number generated by the system

In [24]:
import random
true_num = random.randint(1,100)
true_num

87

In [25]:
guess_num=int(input("Enter your guess between 1 and 100:"))
guess_num

Enter your guess between 1 and 100:67

67

In [26]:
while True:
    if guess_num==true_num:
        print("You are right, great job!")
        break
    elif guess_num<true_num:
        print("Your guess is low, try again")
        guess_num=int(input("enter your guess between 1 and 100:"))
    elif guess_num>true_num:
        print("Your guess is high, try again!")
        guess_num=int(input("enter your guess between 1 and 100:"))

Your guess is low, try again
enter your guess between 1 and 100:67
Your guess is low, try again
enter your guess between 1 and 100:56
Your guess is low, try again
enter your guess between 1 and 100:87
You are right, great job!

# THANK YOU