In [1]:
50000

50000

In [2]:
50000 - 15000

35000

In [3]:
35000 - 8000

27000

In [4]:
gross_salary = 50000

In [5]:
gross_salary

50000

In [6]:
print(gross_salary)

50000

In [7]:
income_tax = 5000

retirement_contribution = 1800

professional_tax = 300

In [8]:
net_salary = gross_salary - (income_tax + retirement_contribution + professional_tax)

net_salary

42900

In [9]:
student_score1 = 89

student_score2 = 75

In [10]:
total_score = student_score1 + student_score2

total_score

164

In [11]:
average_score = (student_score1 + student_score2) / 2

average_score

82.0

In [12]:
first_name = "Alice"

last_name = "Bond"

In [13]:
first_name + last_name

'AliceBond'

In [14]:
full_name = first_name + " " + last_name

full_name

'Alice Bond'

In [15]:
salary_1 = salary_2 = salary_3 = 10000

In [16]:
salary_1

10000

In [17]:
salary_2

10000

In [18]:
salary_3

10000

In [19]:
salary_1 == salary_2

True

In [20]:
salary_1 = salary_1 + 1000

salary_1

11000

In [21]:
salary_2 = salary_2 * 1.12

salary_2

11200.000000000002

In [22]:
salary_3 = salary_3 - salary_3 * 0.03

salary_3

9700.0

In [23]:
salary_1 == salary_2

False

In [24]:
my_int, my_float, my_bool, my_string = 12, 3.2, False, "Hello World!"

In [25]:
type(my_int)

int

In [26]:
type(my_float)

float

In [27]:
type(my_bool)

bool

In [28]:
type(my_string)

str

In [29]:
result = my_int + my_float

print("The final result is: ", result)

The final result is:  15.2

In [30]:
result = my_int + my_bool

print("The final result is: ", result)

The final result is:  12

In [31]:
result = my_int + my_string

print("The final result is: ", result)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
number

NameError: name 'number' is not defined

In [33]:
number = 10

number

10

In [34]:
number += 100

number

110

In [35]:
number *= 10

number

1100

In [36]:
number /= 11

number

100.0

In [37]:
number -= 18

number

82.0

In [38]:
number //= 4

number

20.0

In [39]:
number %= 3

number

2.0

In [40]:
number **= 4

number

16.0

In [41]:
net_salary

42900

In [42]:
first_name

'Alice'

In [45]:
del net_salary

net_salary

NameError: name 'net_salary' is not defined

In [46]:
del first_name

first_name

NameError: name 'first_name' is not defined

# THANK YOU